# Teaching

### Data Visualization CS4247 ([Spring 2023](/teaching/vis/spring2023))

### Advanced Machine Learning CS6362 ([Fall 2022](/teaching/aml/fall2022))

### Data Visualization CS3891.01/5891.01 ([Spring 2022](/teaching/vis/spring2022))

### Advanced Machine Learning CS6362 ([Fall 2021](/teaching/aml/fall2021))

### Visual Analytics & Machine Learning CS8395.03 ([Spring 2021](/teaching/vaml/spring2021))

### Data Visualization CS3891.04/5891.04 ([Fall 2020](/teaching/vis/fall2020))

### Visual Analytics & Machine Learning CS8395.03 ([Spring 2020](/teaching/vaml/spring2020))

### Data Visualization CS3891.04/5891.04 ([Fall 2019](/teaching/vis/fall2019))

### Visual Analytics & Machine Learning CS8395.03 ([Spring 2019](/teaching/vaml/spring2019))

### Introduction to Visualization CS3891.06/5891.06 ([Fall 2018](/teaching/vis/fall2018))
