---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #383838;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 200vh;
  text-align: left;
  flex-direction: column; }

table {
  margin-bottom: 0px;
  font-size: 15px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8; }
  table tr:nth-child(even) {
    background-color: #f7f7f7; }
  table th, table td {
    padding: 2px 2px; }
  table th {
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    border-bottom-color: #c9c9c9; }
  table td {
    border: 1px solid #e8e8e8; }

.inner_table {
	font-size: 12px;
}

.wrapper {
  max-width: -webkit-calc(900px - (30px * 2));
  max-width: calc(900px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 900px) {
    .wrapper {
      max-width: -webkit-calc(900px - (30px));
      max-width: calc(900px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }
